.mail{
  width: 100%;
  margin-top: 50px;
  background: linear-gradient(to bottom, #003580, #111827);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.mailInputContainer>input{
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer>button{
  height: 50px;
  background: linear-gradient(to bottom, #003580, #284fa2);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .mail {
    width: 95%;
    flex-direction: column;
    margin: 0;
    padding: 50px auto;
  }

  .mailInputContainer>input{ 
    width: 200px;
  }
}